a {
  color: white;
  text-decoration: none;
}

.mod {
  h1 {
    font-size: 20px;
  }

  //border: 1px solid black;
  border-right: 5px solid transparent;
  border-top-width: 0;

  padding: 8px;

  background-image: url(../../../assets/binding_dark.png);
}

.selected {
  border-right: 5px solid lighten(green, 10);
}

.firstMod {
  border-top-width: 1px;
}

.hovered {
  border-right: 5px solid darken(darkgreen, 5);
}
