a {
  color: white;
  text-decoration: none;
}

.mod {
  h1 {
    font-size: 20px;
  }

  border-right: 5px solid black;

  padding: 8px;

  background-image: url(../../../assets/binding_dark.png);
}

.selected {
  border-right: 5px solid lighten(green, 10);
  box-shadow: 5px 0 5px -2px lighten(green, 0);
}

.hovered {
  border-right: 5px solid darken(darkgreen, 5);
}
