<div class="bg"><div class="darken"></div></div>
<div class="row no-gutters main-screen">
  <div class="col-{{ modsListSize }} mods-bg">
    <div class="container-fluid mods">
      <app-mod *ngFor="let mod of mods; let i = index"
               [mod]="mod"
               [isSelected]="mod.name === currentMod.name"
               (modClicked)="updateModDetails($event)"></app-mod>
    </div>
  </div>

  <div class="col-{{ modDetailsSize }}">
    <app-mod-detail [mod]="currentMod"></app-mod-detail>

    <app-menu [currentMod]="currentMod" ></app-menu>
  </div>
</div>

