@import '../../globals';

a {
  color: white;
  text-decoration: none;
}

.menu {
  border: 1px solid black;

  //background-image: url(../../../assets/bo_play_pattern.png);

  height: $menu-height;

  .row {
    height: 100%;
  }
}

.play-button {
  font-size: 24px;
  padding: 5px 40px;
}

.settings {
  text-align: right;

  a {
    color: lightgrey;
  }

  a:hover {
    color: grey;
  }
}

.bg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
  //background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  //background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,1) 1%,rgba(0,0,0,0) 75%), url(../../../assets/bo_play_pattern.png); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
