@import '../../globals';

.menu {
  border: 1px solid black;

  height: $menu-height;

  .row {
    height: 100%;
  }
}

.play-button {
  font-size: 24px;
  padding: 5px 40px;
}

.settings {
  text-align: right;
}
